$main: #938F8D;

/**************************************************/
/*************** animation specific ***************/
/**************************************************/

.congratulation-container {
	color: white;
}

.congratulation-container__undo {
	color: $main;
	font-size: 12px;
	margin-top: 15px;
}

.celebration-icon {
	position: relative;
	
	object {
		position: relative;
		height: 80px;
		width: auto;
		margin-bottom: 25px;
		
		@media (min-width: 600px) {
			height: 130px;
		}
	}
	
	.bubble-container {
		width: 50px;
		left: 50%;
		margin-left: -35px;
	}
}