/**************************************************/
/*************** animation specific ***************/
/**************************************************/
.congratulation-container {
  color: white; }

.congratulation-container__undo {
  color: #938F8D;
  font-size: 12px;
  margin-top: 15px; }

.celebration-icon {
  position: relative; }
  .celebration-icon object {
    position: relative;
    height: 80px;
    width: auto;
    margin-bottom: 25px; }
    @media (min-width: 600px) {
      .celebration-icon object {
        height: 130px; } }
  .celebration-icon .bubble-container {
    width: 50px;
    left: 50%;
    margin-left: -35px; }