/**************************************************/
/******************* variables ********************/
/**************************************************/
/**************************************************/
/***************** general styles *****************/
/**************************************************/
*, *::after, *::before {
  box-sizing: border-box; }

body {
  text-align: center;
  font-family: "Gotham Rounded", Helvetica, sans-serif;
  color: #938F8D;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px; }

a {
  color: #FF5F19;
  text-decoration: none; }

.logo {
  width: 63px; }

.animation-container {
  margin: 70px auto 100px; }

/* This simulates our background. It's blurred with css because I wanted to check whether this impacted performance. It looks like it's not a problem. */
.bg {
  position: fixed;
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: -30px;
  background-image: url('duplii-funnel-preview.png');
  background-size: cover;
  -webkit-filter: blur(7px);
  z-index: -2; }

.bg-overlay {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1; }
